<%- include("partials/header") %>

<div class="container mx-auto p-4 justify-center flex flex-col items-center">
    <% if (error == 'invalid_account') { %>
        <div class="bg-red-700 text-white p-4 rounded mb-4 w-full md:w-[800px] text-center shadow-lg">
            <div class="flex items-center justify-center">
                <span class="font-bold">❌ Invalid recipient address! Did you make a typo? ❌</span>
            </div>
        </div>
    <% } %>
    <% if (error == 'internal_error') { %>
        <div class="bg-red-700 text-white p-4 rounded mb-4 w-full md:w-[800px] text-center shadow-lg">
            <div class="flex items-center justify-center">
                <span class="font-bold">❌ There has been an internal error, please try again! ❌</span>
            </div>
        </div>
    <% } %>
    <% if (success) { %>
        <div class="bg-green-700 text-white p-4 rounded mb-4 w-full md:w-[800px] text-center shadow-lg">
            <div class="flex items-center justify-center">
                <span class="font-bold">✅ Tokens successfully airdropped! ✅</span>
            </div>
            <p class="mt-2"><span class="font-semibold">Recipient:</span> <%= recipient %></p>
            <p><span class="font-semibold">Amount:</span> <%= amount %></p>
        </div>
    <% } %>
    <div class="bg-gray-800 p-8 rounded-lg shadow-lg mt-6 w-full md:w-[800px]">
        <h2 class="text-3xl font-bold text-white mb-6 text-center">Token Airdrop</h2>
        
        <form id="airdropForm" action="/airdrop" method="POST" class="space-y-6">
            <div>
                <label for="mintAddress" class="block text-gray-300">Mint Address</label>
                <select id="mintAddress" name="mintAddress" class="w-full p-2 rounded bg-gray-700 text-white">
                    <% tokensWithMintAuthority.forEach(token => { %>
                        <option value="<%= token.mintAddress %>"><%= token.name %> (<%= token.symbol %>) - Total supply: <%= token.supply %></option>
                    <% }) %>
                </select>
            </div>
            <div>
                <label for="recipient" class="block text-gray-300">Recipient Address</label>
                <input type="text" id="recipient" autocomplete="off" name="recipient" class="w-full p-2 rounded bg-gray-700 text-white" required>
            </div>
            <div>
                <label for="amount" class="block text-gray-300">Amount</label>
                <input type="number" autocomplete="off" id="amount" name="amount" class="w-full p-2 rounded bg-gray-700 text-white" required>
            </div>
            <div class="text-center">
                <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                    Airdrop Tokens
                </button>
            </div>
        </form>
    </div>
</div>

<script>
    document.getElementById('airdropForm').addEventListener('submit', function(event) {
        const mintAddress = document.getElementById('mintAddress').selectedOptions[0].text;
        const recipient = document.getElementById('recipient').value;
        const amount = document.getElementById('amount').value;

        const confirmation = confirm(`Are you sure you want to airdrop ${amount} tokens to ${recipient} for ${mintAddress}?`);
        if (!confirmation) {
            event.preventDefault();
        }
    });
</script>

<%- include("partials/footer") %>